{% load static %}

<div class="w-full px-4 h-16 flex items-center justify-between ">
    <div class="flex items-center">
        <img src="{% static 'images/user.png' %}" alt="UserIcon here.." class="w-10 h-10 mr-2">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users w-5 h-5 text-primary-foreground">…</svg>-->
        <span class="inline text-xl font-bold">ConnectPro</span>
    </div>

    <div>
        {% block pages %}

        {% endblock %}
    </div>

    <div>
        {% block extra %}

        {% endblock %}
    </div>
     <!--  <nav class="hidden md:flex items-center gap-6">
        <a href="#features" class="text-sm font-medium hover:text-blue-600 transition-colors">Features</a>
        <a href="#pricing" class="text-sm font-medium hover:text-blue-600 transition-colors">Pricing</a>
        <a href="#about" class="text-sm font-medium hover:text-blue-600 transition-colors">About</a>
        </nav>  --> 

        <!-- <div class="flex gap-2">
            <a href="/login">
            <button class="h-10 hover:bg-blue-100 hover:text-blue-600 px-4 py-2 rounded text-sm font-medium transition-colors">
                Login
            </button>
            </a>
            <a href="/signup">
            <button class="inline-flex items-center justify-center gap-2 text-sm font-medium bg-blue-500 text-white rounded h-10 px-4 py-2 hover:bg-blue-600 transition-colors">
                Get Started
            </button>
            </a>
        </div> -->
</div>
